html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*--------------------------Navbar--------------------------*/
.navbar{
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#nav a{
    color: black;
    font-weight: bold;
}

#nav li.active a{
    background-color: #dccee8;

}

.hvr-underline-from-center:before{
    background-color: #dccee8;
    height: 5px;
}


/*----------------------Rest of Header-----------------------*/
.header{
    background-image: linear-gradient(
    to right bottom, /*adds a linear gradient on top going left top to right bottom...*/
    rgba(238, 232, 255, 0.8), /*...specifies the colours and opacity...*/
    rgba(207, 206, 255, 0.4)),
    url("img/pinCush.jpeg");  /*...and the. url image underneath it peaking through*/ ;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    padding:0;
    margin: 0;
    min-height: 700px;
    min-width: 100%;
}

h1, h2{
    text-align: right;
}

h1{
    margin-right: 5%;
    margin-top: 8%;
    font-size: 11em;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: #600da8;
    text-shadow: 0px 0px 8px rgba(92, 51, 183, 0.9);
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #600da8;
    animation-name: moveInRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.threadbare, .prices{
    font-family: "Cabin Sketch", sans-serif;
    font-size: 3em;
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.threadbare{
    margin-right: 16%;
    margin-top: 5%;
    
}

.prices{
    margin-right: 10%;
    margin-top: 2%;
}

.btn-default{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    transition: all 0.5s;
    font-weight: bold;
    color: black;
}

.btn-default:hover{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    
}

@keyframes moveInRight{
    0%{
        opacity:0;
        transform: translateX(100px);
    }

    80%{
        opacity:0.8;
        transform: translateX(-15px);
    }

    100%{
        opacity:1;
        transform: translate(0);
    }
}

@keyframes moveInLeft{ /*best to only animate 2 properties for browser performance */
    0%{ /*what it will be doing before the animation starts */
        opacity:0; /*ensure it starts off invisible*/
        transform: translateX(-100px); /*we want to aniimate in the x direction, so it's moving in from the left, this is setting our start position. Because we want it to start form the left, we have to give it a negative value */
    }

    80%{
        opacity:0.8;
        transform: translateX(15px); /*make it kind of bouce to the right a little 80% through the animation before it settles in the middle*/
    }

    100%{ /*what is will be doing when the animation finishes*/
        opacity:1;
        transform: translate(0); /*we use translate 0 so that it'll go to what we've set it to be in teh css above*/
    }
}

/*-------------------------------Explanation section----------------------------*/

.explain{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    color: black;
    font-family: Roboto, Sans-serif;
}

.perks{
    font-size: 1.5em;
}

.perk-sign{
    font-size: 1.7em;
}

/*-------------------------How we work and Review section------------------------*/



.row-table{
    display: table;
}

.mid-sec{
    margin: 20px;
    
}

.mid-left{
    background-color: #057751;
    color: white;
   
}

h3{
    margin-bottom: 20px;
}

hr{
    width: 50px;
}

.how-work{
    text-align: center;
    font-family: "Encode Sans Condensed", sans-serif;
    margin-bottom: 0;
}

.timeline-item{
    padding: 0;
    margin-top: 0;
    position: relative;
    color: #fafafa;
}

.icon{
    margin-top: 5px;
    font-size: 20px;
}

.step{
    margin-bottom: 20px;
}

.section-column{
    padding: 0 30px 30px;
    float:none;
    display: table-cell;
    -webkit-display: -webkit-table-cell;
}

.review{
    background-image: linear-gradient(
    to right bottom, /*adds a linear gradient on top going left top to right bottom...*/
    rgba(238, 232, 255, 0.85), /*...specifies the colours and opacity...*/
    rgba(207, 206, 255, 0.85)),
    url("img/cotton.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mid-right{
    transform: translateY(20px);
    
}



.review-text{
    text-align: center;
    font-size: 4.5em;
    font-family: "Satisfy", sans-serif;
}

.reviewer{
    text-align: center;
    font-size: 2.5em;
    margin-top: 50px;
    font-family: "Encode Sans Condensed", sans-serif;
}

/*-------------------------What are we making?-------------------------*/

.what-making{
    text-align: center;
    font-family: "Encode Sans Condensed", sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}





/*-------------------------Footer-------------------------*/
footer{
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin-top: 10px;
}

/*--------------------------Misc------------------------------*/

.uppercase{
    text-transform: uppercase;
}

/*-------------------------Screen size responsiveness--------------------------*/
@media(max-width: 1300px){
    h1{
        font-size: 9em;
    }
}

@media(max-width: 1126px){
    .perks{
        font-size: 1.2em;
}

    .perk-sign{
        font-size: 1.5em;
}
}

@media(max-width: 994px){
    .perk-sign{
        display: block;
        margin: 0 auto;
        font-size: 2em;
    }
    .section-column{
        display: block;
        float: left;
    }
    
    .mid-left{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width:100vw;
    }
   

    
}


@media(max-width: 900px){
    h1{
        font-size: 6em;
    }
    .threadbare, .prices{
        font-size: 2.5em;
    }
    .btn-default{
        margin-top: 50px;
    }
}

@media(max-width: 767px){
    .review-text{
        font-size: 3em;
    }
    
    .reviewer{
        font-size: 1.5em;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


@media(max-width: 380px){
    h1{
        font-size: 5em;
        text-align: center;
    }
}