html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: #fbf7fc;
    font-family: "Encode Sans Semi Condensed", sans-serif;
    font-size: 15px;
}

/*--------------------------Navbar--------------------------*/
.navbar{
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#nav a{
    color: black;
    font-weight: bold;
}

#nav li.active a{
    background-color: #dccee8;

}

.hvr-underline-from-center:before{
    background-color: #dccee8;
    height: 5px;
}


/*----------------------Rest of Header-----------------------*/
.header{
    background-image: linear-gradient(
    to right bottom, 
    rgba(238, 232, 255, 0.8), 
    rgba(207, 206, 255, 0.4)),
    url("img/pinCush.jpeg");  
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    padding:0;
    margin: 0;
    min-height: 700px;
    min-width: 100%;
}

h1, h2{
    text-align: right;
}

h1{
    margin-right: 5%;
    margin-top: 8%;
    font-size: 11em;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: #600da8;
    text-shadow: 0px 0px 8px rgba(92, 51, 183, 0.9);
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #600da8;
    animation-name: moveInRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.threadbare, .prices{
    font-family: "Cabin Sketch", sans-serif;
    font-size: 3em;
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.threadbare{
    margin-right: 16%;
    margin-top: 5%;
    
}

.prices{
    margin-right: 10%;
    margin-top: 2%;
}

.btn-default{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    transition: all 0.5s;
    font-weight: bold;
    color: black;
}

.btn-default:hover{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    
}

@keyframes moveInRight{
    0%{
        opacity:0;
        transform: translateX(100px);
    }

    80%{
        opacity:0.8;
        transform: translateX(-15px);
    }

    100%{
        opacity:1;
        transform: translate(0);
    }
}

@keyframes moveInLeft{ 
    0%{ 
        opacity:0; /*starts off invisible*/
        transform: translateX(-100px); /*moving in from the left */
    }

    80%{
        opacity:0.8;
        transform: translateX(15px); /*bounce to the right 80% through the animation before it settles in the middle*/
    }

    100%{ /*what is will be doing when the animation finishes*/
        opacity:1;
        transform: translate(0); 
    }
}

/*-------------------------------Explanation section----------------------------*/

.explain{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    color: black;
    font-family: Roboto, Sans-serif;
}

.perks{
    font-size: 1.5em;
}

.perk-sign{
    font-size: 1.7em;
}

/*-------------------------How we work and Review section------------------------*/


.row-table{
    display: table;
}

.mid-sec{
    margin: 20px;
    
}

.mid-left{
    background-color: #057751;
    color: white;
   
}

h3{
    margin-bottom: 20px;
}

hr{
    width: 50px;
}

.how-work{
    text-align: center;
    font-family: "Encode Sans Condensed", sans-serif;
    margin-bottom: 0;
}

.timeline-item{
    padding: 0;
    margin-top: 0;
    position: relative;
    color: #fafafa;
}

.icon{
    margin-top: 5px;
    font-size: 20px;
}

.step{
    margin-bottom: 20px;
}

.section-column{
    padding: 0 30px 30px;
    float: none;
    display: table-cell; 
}

.review{
    background-image: linear-gradient(
    to right bottom, /*adds a linear gradient on top going left top to right bottom...*/
    rgba(238, 232, 255, 0.85), /*...specifies the colours and opacity...*/
    rgba(207, 206, 255, 0.85)),
    url("img/cotton.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mid-right{
    transform: translateY(20px);
    
}

.review-text{
    text-align: center;
    font-size: 4.5em;
    font-family: "Satisfy", sans-serif;
}

.reviewer{
    text-align: center;
    font-size: 2.5em;
    margin-top: 50px;
    font-family: "Encode Sans Condensed", sans-serif;
}

/*-------------------------What are we making?-------------------------*/

.subtitle{
    font-size: 2.5em;
    color: #5b4472;
}

.what-making{
    text-align: center;
    font-family: "Encode Sans Condensed", sans-serif;
    border-left: solid #5b4472 300px;
    border-right: solid #5b4472 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Creates four equal columns sitting next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}


/*-------------------------Footer-------------------------*/
footer{
    background-color: #5e4e6d;
    color: #fafafa;
    min-height: 80px;
    margin-top: 7px;
    text-align: center;
}

.payment{
    font-size: 30px;
}

.social-links{
    margin-top: 16px;
}

.social-links li a{
    font-size: 20px;
    background-color: #bdb6c4;
    color: black;
    padding-top: 4px;
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-links li a:hover{
    background-color: white;
}

/*------------------------Products------------------------------*/

.thumbnail img {
    height:40%;
    width:100%;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  height: 100%;
  border: none;
  background-color: #fbf7fc;
  
}

.content{
    height:250px;
}

.product{
    margin-top: 30px;
}

/*----------------------------Sign-up form-----------------------*/

.form-heading{
    background-color: white;
    border: solid 1px black;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 15px;
    padding: 20px;
}

.sign-up-call{
    text-align: center;
    font-size: 2.4em;
}

.sign-up-text{
   text-align: center;
   font-size: 1.5em;
}

.heart-icon{
    display: block;
    width:100%;
    margin: 15px auto;
    font-size: 50px;
}

input{
    display: block;
    margin: 0 auto;
}

.dropdown{
    width: 30%;
    display: block;
    margin: 0 auto;
    background-color: white;
    height: 40px;
    border: 1px solid #dbdbdb;
    
}

.choose{
    font-size: 20px;
}

.pass-text{
    font-size: 10px;
}

.padded{
    padding: 5px 20px;
    width: 70%;
    font-size: 20px;
    margin-bottom: 15px;
}

.password{
    margin-bottom: 3px;
}

select{
    margin: 0 auto;
}

.how-hear{
    font-size: 20px;
}

.where-heard{
    display: block;
    width: 200px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 20px;
}

.text-area{
    display: block;
    width: 370px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn-form{
    margin-bottom: 30px;
}

/*---------------------------Tutorial---------------------------*/

.tut-head{
    font-size: 3em;
    color: #665577
}

.top-head{
    animation-name: moveInRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.bottom-head{
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    margin-bottom: 40px;
}

.tut-subhead{
    font-size: 2.5em;
    margin-bottom: 30px;
    margin-top: 40px;
    color: white;
    padding-top: 10px;
}

.subhead-banner{
    background-color: #9c89af;
    height: 70px;
    width: 100%;
    margin-bottom: 30px;
}

iframe{
    width: 400px; 
    height: 235px;
    display: block;
    margin: 0 auto;
}

.tut-p{
    width:400px;
    margin: 10px auto;
    line-height: 1.5;
}

.tut{
    margin-top: 20px;
    margin-bottom: 50px;
}

/*--------------------------Misc------------------------------*/

.uppercase{
    text-transform: uppercase;
}

.text-mid{
    text-align: center;
}

.inline{
    display: inline;
}
/*-------------------------Screen size responsiveness--------------------------*/

@media(max-width: 1700px){
    .thumbnail img {
        height:230px;
        width:320px;
    }
}

@media(max-width: 1443px){
    .thumbnail img {
        height:200px;
        width:300px;
    }
}

@media(max-width: 1349px){
    .thumbnail img {
        height:160px;
        width:250px;
    }
}

@media(max-width: 1300px){
    h1{
        font-size: 9em;
    }
    
}

@media(min-width: 1300px){
    iframe{
        height: 352px;
        width: 600px;
    }
    .tut-p{
        width:600px;
    }
}

@media(max-width: 1215px){
    .tut-descript{
        width: 80%;
    }
}

@media(max-width: 1174px){
    .content{
    height:300px;
}
}

@media(max-width: 1128px){
    .thumbnail img {
        height:145px;
        width:210px;
    }
}


@media(max-width: 1126px){
    .perks{
        font-size: 1.2em;
}

    .perk-sign{
        font-size: 1.5em;
}
}

@media(max-width:1070px){
    .what-making{
        border-left: solid #5b4472 200px;
        border-right: solid #5b4472 200px;
    }
}

@media(max-width: 994px){
    .perk-sign{
        display: block;
        margin: 0 auto;
        font-size: 2em;
    }
    .section-column{
        display: block;
        float: left;
    }
    
    .mid-left{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        min-width:95%;
    }
   
}

@media(max-width: 990px){
    .thumbnail img {
        height:280px;
        width: 400px;
    }
    .content{
        height:200px;
    }
}

@media(max-width: 930px){
    .content{
    height:200px;
}
}

@media(max-width: 920px){
    .thumbnail img {
        height:240px;
        width:370px;
    }
}


@media(max-width: 900px){
    h1{
        font-size: 6em;
    }
    .threadbare, .prices{
        font-size: 2.5em;
    }
    .btn-default{
        margin-top: 50px;
    }
}


@media(max-width: 787px){
    .thumbnail img {
        height:220px;
        width:100%;
    }
}

@media(max-width: 767px){
    .review-text{
        font-size: 3em;
    }
    
    .reviewer{
        font-size: 1.5em;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .what-making{
        border-left: none;
        border-right: none;
    }
}

@media (max-width: 767px) {
    .thumbnail img {
        height:470px;
        width:100%;
    }
}

@media (max-width: 734px){
    .diff-fabric{
        height: 115px;
    }
    .diff-fabric>h3{
        line-height: 1.3;
    }
}

@media (max-width: 681px) {
    .thumbnail img {
        height:430px;
        width:100%;
    }
}

@media (max-width: 667px) {
    .thumbnail img {
        height:400px;
        width:100%;
    }
}

@media (max-width: 644px){
    .thumbnail img {
        height:380px;
        width:100%;
    }
}

@media (max-width: 610px){
    iframe{
        width: 460px;
        height: 260px;
    }
    
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

@media (max-width: 598px){
    .thumbnail img {
        height:360px;
        width:100%;
    }
}

@media (max-width: 548px){
    .thumbnail img {
        height:340px;
        width:100%;
    }
}

@media (max-width: 520px){
    .thumbnail img {
        height:300px;
        width:100%;
    }
}

@media (max-width: 500px){
    iframe{
        width: 300px;
        height: 176px;
    }
    .tut-p{
        width: 300px;
    }
}

@media (max-width: 483px){
    .thumbnail img {
        height: 260px;
        width: 100%;
    }
}

@media (max-width: 440px){
    .thumbnail img {
        height:220px;
        width:100%;
    }
}

@media (max-width: 402px){
    .tricky-parts{
        height: 115px;
    }
    
    .tricky-parts>h3{
        line-height: 1.3;
    }
}

@media(max-width: 399px){
    .diff-fabric{
        height: 170px;
    }
}

@media(max-width: 380px){
    h1{
        font-size: 5.5em;
        margin-left: 10px;
    }
    .content{
        height:200px;
    }
}

@media(max-width: 320px){
    h1{
        font-size: 4.5em;
        margin-left: 10px;
    }
    
    iframe{
        width: 280px;
        height: 164px;
    }
    
    .tut-p{
        width: 280px;
    }
}